<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninggc.template.springbootfastdemo.project.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.ninggc.template.springbootfastdemo.project.domain.User">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="login_username" jdbcType="VARCHAR" property="loginUsername"/>
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword"/>
    <result column="role" jdbcType="TINYINT" property="role"/>
    <result column="salt" jdbcType="VARCHAR" property="salt"/>
    <result column="username" jdbcType="VARCHAR" property="username"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
    <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
    <result column="status" jdbcType="TINYINT" property="status"/>
    <result column="headPortraitPath" jdbcType="VARCHAR" property="headportraitpath"/>
    <result column="description" jdbcType="VARCHAR" property="description"/>
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag"/>
    <result column="init_status" jdbcType="TINYINT" property="initStatus"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, login_username, login_password, role, salt, username, email, mobile, status,
    headPortraitPath, description, update_date, create_date, delete_flag, init_status
  </sql>
  <select id="selectByExample" parameterType="com.ninggc.template.springbootfastdemo.project.domain.UserExample"
          resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List"/>
    from bd_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from bd_user_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bd_user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ninggc.template.springbootfastdemo.project.domain.User">
    insert into bd_user_info (id, login_username, login_password,
                              role, salt, username,
                              email, mobile, status,
                              headPortraitPath, description, update_date,
                              create_date, delete_flag, init_status)
    values (#{id,jdbcType=BIGINT}, #{loginUsername,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR},
            #{role,jdbcType=TINYINT}, #{salt,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
            #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
            #{headportraitpath,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
            #{createDate,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=TINYINT}, #{initStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ninggc.template.springbootfastdemo.project.domain.User">
    insert into bd_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loginUsername != null">
        login_username,
      </if>
      <if test="loginPassword != null">
        login_password,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="headportraitpath != null">
        headPortraitPath,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="initStatus != null">
        init_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="loginUsername != null">
        #{loginUsername,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=TINYINT},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="headportraitpath != null">
        #{headportraitpath,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="initStatus != null">
        #{initStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ninggc.template.springbootfastdemo.project.domain.User">
    update bd_user_info
    <set>
      <if test="loginUsername != null">
        login_username = #{loginUsername,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        login_password = #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=TINYINT},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="headportraitpath != null">
        headPortraitPath = #{headportraitpath,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="initStatus != null">
        init_status = #{initStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ninggc.template.springbootfastdemo.project.domain.User">
    update bd_user_info
    set login_username   = #{loginUsername,jdbcType=VARCHAR},
        login_password   = #{loginPassword,jdbcType=VARCHAR},
        role             = #{role,jdbcType=TINYINT},
        salt             = #{salt,jdbcType=VARCHAR},
        username         = #{username,jdbcType=VARCHAR},
        email            = #{email,jdbcType=VARCHAR},
        mobile           = #{mobile,jdbcType=VARCHAR},
        status           = #{status,jdbcType=TINYINT},
        headPortraitPath = #{headportraitpath,jdbcType=VARCHAR},
        description      = #{description,jdbcType=VARCHAR},
        update_date      = #{updateDate,jdbcType=TIMESTAMP},
        create_date      = #{createDate,jdbcType=TIMESTAMP},
        delete_flag      = #{deleteFlag,jdbcType=TINYINT},
        init_status      = #{initStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>